@font-face {
  font-family: "Versa Pro Normal";
  src: url("VersaPro-Normal.woff2") format("woff2"),
    url("VersaPro-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Versa Pro";
  src: url("VersaPro-Bold.woff2") format("woff2"),
    url("VersaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Versa Pro Normal";
  src: url("VersaPro-Normal.woff2") format("woff2"),
    url("VersaPro-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Versa Pro Bold";
  src: url("VersaPro-Bold.woff2") format("woff2"),
    url("VersaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
